// 颜色定义规范

//主题色
$color-theme = #2184c5
//辅助色
$color-auxiliary = #3b9edf
$color-background = #ffffff
//背景填充色
$color-background-d = rgb(248,248,248)
//背景遮罩透明度
$color-modal = #000000
//分割线
$color-border = #e8ebed
//导航文字,一级标题文字
$color-font-nav = #333333
//二级文字，长文本
$color-font-text = rgb(51,51,51)
//注释/辅助说明文字
$color-font-Notes = rgb(153,153,153)
$color-font-Notes1 = rgb(215,215,215)
//提示性文字
$color-font-Prompt = #fb6868
$color-text-l = rgba(255, 255, 255, 0.5)

//字体定义规范
//标题文字
$font-size-large = 18px
//二级标题文字
$font-size-medium = 14px
//短文本，普通字
$font-size-small = 12px
//最小文字、注释/辅助说明文字
$font-size-small-s = 10px